Gowin/fpga/fpga.gprj
Gowin/fpga/fpga.gprj.user
Gowin/fpga/impl/fpga_process_config.json
Gowin/fpga/impl/gwsynthesis/fpga_syn_resource.html
Gowin/fpga/impl/gwsynthesis/fpga_syn_rsc.xml
Gowin/fpga/impl/gwsynthesis/fpga_syn.rpt.html
Gowin/fpga/impl/gwsynthesis/fpga.log
Gowin/fpga/impl/gwsynthesis/fpga.prj
Gowin/fpga/impl/gwsynthesis/fpga.vg
Gowin/fpga/impl/pnr/cmd.do
Gowin/fpga/impl/pnr/device.cfg
Gowin/fpga/impl/pnr/fpga_tr_cata.html
Gowin/fpga/impl/pnr/fpga_tr_content.html
Gowin/fpga/impl/pnr/fpga.bin
Gowin/fpga/impl/pnr/fpga.binx
Gowin/fpga/impl/pnr/fpga.db
Gowin/fpga/impl/pnr/fpga.fs
Gowin/fpga/impl/pnr/fpga.log
Gowin/fpga/impl/pnr/fpga.pin.html
Gowin/fpga/impl/pnr/fpga.power.html
Gowin/fpga/impl/pnr/fpga.rpt.html
Gowin/fpga/impl/pnr/fpga.rpt.txt
Gowin/fpga/impl/pnr/fpga.timing_paths
Gowin/fpga/impl/pnr/fpga.tr.html
Gowin/fpga/impl/temp/rtl_parser_arg.json
Gowin/fpga/impl/temp/rtl_parser.result
Gowin/fpga/src/color_converter.v
Gowin/fpga/src/fpga.cst
Gowin/fpga/src/frame_buffer.v
Gowin/fpga/src/hdmi_to_mac_se_converter.v
Gowin/fpga/src/hdmi_to_mac_se_converter.xdc
Gowin/fpga/src/input_coordinate_generator.v
Gowin/fpga/src/mac_se_timing_generator.v
Gowin/fpga/src/monolith-main-DNU.v
Gowin/fpga/src/scaler.v
Gowin/fpga/src/testbench/color_converter_tb.v
Gowin/fpga/src/testbench/frame_buffer_tb.v
Gowin/fpga/src/testbench/hdmi_to_mac_se_converter_tb.v
Gowin/fpga/src/testbench/input_coordinate_generator_tb.v
Gowin/fpga/src/testbench/mac_se_timing_generator_tb.v
Gowin/fpga/src/testbench/scaler_tb.v
Gowin/macse-tang-20k/impl/macse-tang-20k_process_config.json
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k_syn_resource.html
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k_syn_rsc.xml
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k_syn.rpt.html
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k.log
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k.prj
Gowin/macse-tang-20k/impl/gwsynthesis/macse-tang-20k.vg
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led_syn_resource.html
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led_syn_rsc.xml
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led_syn.rpt.html
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led.log
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led.prj
Gowin/macse-tang-20k/impl/gwsynthesis/tang-20k-led.vg
Gowin/macse-tang-20k/impl/pnr/cmd.do
Gowin/macse-tang-20k/impl/pnr/device.cfg
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k_tr_cata.html
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k_tr_content.html
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.bin
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.binx
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.db
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.fs
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.log
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.pin.html
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.power.html
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.rpt.html
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.rpt.txt
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.timing_paths
Gowin/macse-tang-20k/impl/pnr/macse-tang-20k.tr.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led_tr_cata.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led_tr_content.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.bin
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.binx
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.db
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.fs
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.log
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.pin.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.power.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.rpt.html
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.rpt.txt
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.timing_paths
Gowin/macse-tang-20k/impl/pnr/tang-20k-led.tr.html
Gowin/macse-tang-20k/impl/temp/rtl_parser_arg.json
Gowin/macse-tang-20k/impl/temp/rtl_parser.result
Gowin/macse-tang-20k/impl/temp/style.css
