//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 07 27 12:58:27 2025

IO_LOC "I_tmds_data_p[2]" K14,K15;
IO_PORT "I_tmds_data_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p[1]" J15,K16;
IO_PORT "I_tmds_data_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p[0]" H14,H16;
IO_PORT "I_tmds_data_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_clk_p" G16,H15;
IO_PORT "I_tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "IO_sda" F14;
IO_PORT "IO_sda" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[3]" L16;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[2]" L14;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[1]" N14;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[0]" N16;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_hpd" J11;
IO_PORT "O_hpd" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "I_scl" F16;
IO_PORT "I_scl" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "I_rst_n" T3;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;

// Debug pins for oscilloscope
IO_LOC "DEBUG_P11" P11;
IO_PORT "DEBUG_P11" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_T11" T11;
IO_PORT "DEBUG_T11" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_R11" R11;
IO_PORT "DEBUG_R11" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_T12" T12;
IO_PORT "DEBUG_T12" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_M15" M15;
IO_PORT "DEBUG_M15" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_M14" M14;
IO_PORT "DEBUG_M14" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_J14" J14;
IO_PORT "DEBUG_J14" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DEBUG_J16" J16;
IO_PORT "DEBUG_J16" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
