//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 07 20 18:14:14 2025

IO_LOC "I_tmds_data_p[2]" G16,H15;
IO_PORT "I_tmds_data_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p[1]" J15,K16;
IO_PORT "I_tmds_data_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p[0]" H14,H16;
IO_PORT "I_tmds_data_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_clk_p" K14,K15;
IO_PORT "I_tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "video_out" P8;
IO_PORT "video_out" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_pixel_clk" T6;
IO_PORT "mac_pixel_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_active" P6;
IO_PORT "mac_active" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_vsync" R8;
IO_PORT "mac_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_hsync" T7;
IO_PORT "mac_hsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rst" B10;
IO_PORT "rst" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "T5" T5;
IO_PORT "T5" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
