//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 07 20 13:02:05 2025

IO_LOC "J16" J16;
IO_PORT "J16" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "J14" J14;
IO_PORT "J14" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "HDMI_ACTIVE_LED2_N16" N16;
IO_PORT "HDMI_ACTIVE_LED2_N16" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RBG_CLOCK_LED3_N14" N14;
IO_PORT "RBG_CLOCK_LED3_N14" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "video_out" P8;
IO_PORT "video_out" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_pixel_clk" T6;
IO_PORT "mac_pixel_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_active" P6;
IO_PORT "mac_active" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_vsync" R8;
IO_PORT "mac_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_hsync" T7;
IO_PORT "mac_hsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgb_active" A11;
IO_PORT "rgb_active" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_de" B11;
IO_PORT "rgb_de" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_vsync" P7;
IO_PORT "rgb_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_hsync" R7;
IO_PORT "rgb_hsync" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_odck" D10;
IO_PORT "rgb_odck" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_b_b13" B13;
IO_PORT "rgb_b_b13" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_g_A14" A14;
IO_PORT "rgb_g_A14" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_r_B14" B14;
IO_PORT "rgb_r_B14" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "T5" T5;
IO_PORT "T5" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
