//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 05 03 09:41:13 2025

IO_LOC "P9" P9;
IO_PORT "P9" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED2_N16" N16;
IO_PORT "LED2_N16" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED3_N14" N14;
IO_PORT "LED3_N14" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED4_L14" L14;
IO_PORT "LED4_L14" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED5_L16" L16;
IO_PORT "LED5_L16" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "video_out" P8;
IO_PORT "video_out" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_pixel_clk" T6;
IO_PORT "mac_pixel_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_active" P6;
IO_PORT "mac_active" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_vsync" R8;
IO_PORT "mac_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "mac_hsync" T7;
IO_PORT "mac_hsync" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rgb_vsync" D14;
IO_PORT "rgb_vsync" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_g3_P7" P7;
IO_PORT "rgb_g3_P7" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_r4_N6" N6;
IO_PORT "rgb_r4_N6" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_r3_N7" N7;
IO_PORT "rgb_r3_N7" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_b4_B14" B14;
IO_PORT "rgb_b4_B14" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_de" E15;
IO_PORT "rgb_de" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "T5" T5;
IO_PORT "T5" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_hsync" A15;
IO_PORT "rgb_hsync" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_odck" R9;
IO_PORT "rgb_odck" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_b3_A14" A14;
IO_PORT "rgb_b3_A14" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_g5_D10" D10;
IO_PORT "rgb_g5_D10" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rgb_g4_R7" R7;
IO_PORT "rgb_g4_R7" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
